#friend-profile-table {
}
#friend-profile-left {
	width: 40%;
}
#friend-profile-right {
}
/* Friend BLOCK */
#friend-myfriend-block{
	padding: 2px;
}
#friend-block-list {
	margin-bottom: 4px;
	overflow: auto;
}
#friend-block-link {
	margin:2px;
}
/* Friend Box */
#friend_box {
	padding: 4px;
	margin-top: 2px;
	border-top:1px solid #999;
	height: 75px;
}
#friend_box .name {
	font-weight: bold;
}
#friend_box .profile_image{
	float: left;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
}
.friend-profile-box {
	padding: 2px;
	float: left;
}

/* SLIDE MENU */
.slideMenu {
	cursor: pointer;
	list-style: none;
	width: 10em;
}
.slideMenu .slideMenu-title {
	background : #664d45;
	color : #ffffff;
	display : block;
	font-weight : bold;
	padding : 0.5em 1em;
}
.slideSubMenu a {
	padding-left: 4px;
}
.slideMenu .slideSubMenu {
	background : #d0e2c1;
	color : #55614c;
	font-weight : normal;
	width: 15em;
}
.slideMenu .slideSubMenu:hover {
	background : #daefc9;
}
/* END SLIDE MENU */

/* corkboard message */
#friend-corkboard-form {
	min-height: 125px;
}
#friend-block-wrapper {
	padding: 5px;
}
#friend-block-wrapper table {
	width: 100%;
}
#friend-block-wrapper tbody {
	border-top:0px;
}
#friend-block-wrapper .corkboard-header, .friend-list-header, .friend-mutual-header ,
.friend-user-box {
	clear: both;
	cursor: pointer;
	border-top:1px solid #666666;
	background-color: lightgray;
	padding: 2px;
	font-weight: bold;
}
/* Corkboard message box */
table.corkboard td{
	vertical-align: top;
	text-align: left;
}
td.corkboard-image {
	width: 55px;
	text-align: left;
}
.cb-message-box {
	position: relative;
	margin-top: 8px;
	min-height: 90px;
}
.cb-message-box , .cb_action {
	text-align: left;
	font-size: 10px;
}
.cb_picture {
	float: left;
	position: relative;
	min-width: 50px;
}
.cb-message-box img {
	margin-right: 5px;
}
.cb_name {
	text-align: left;
	margin: 0 0 0 0;
	border-top:1px solid gray;
	background-color: #f7f7f7;
	line-height: 14px;
}
.cb_message {
	position: relative;
	line-height: 14px;
	padding-top: 4px;
	min-height: 50px;
}
.cb_datetime {
}
/* friend box*/
.friend-box {
	margin-top: 8px;
	min-height: 90px;
	border-top:1px solid #999;
	padding-top: 2px;
}
.fb_picture {
	float: left;
	position: relative;
	width: 60px;	
	margin-right: 5px;
	min-height: 50px;
}
.fb_picture img {
	width: 60px;	
}
.fb_name {
	text-align: left;
	top: 0px;
	padding-left: 2px;
	font-size: 12px;
	font-weight: bold;
	margin-left: 62px;
}
.fb_body {
	width: 88%; 
	color: #666;
}
.fb_menu {
	position: relative;
	float: right;
	font-weight: normal;
	font-size: 9px;
	z-index: 50;
}
/* FRIEND LIST */
#friend_left {
	float: left;
	display: block;
	width:80%;
}
#friend_right {
	display: block;
	margin-left: 82%;
	padding-left: 5px;
	text-align: middle;
	border-left: 1px solid gray;
}
#friend_list li {
	list-style: none;
}
#friend-list-input input{
	margin:0;
}
#friend-list-submit input {
	margin:0;
}
#friend-list-navbar {
	border-top:1px solid #807A73;
	background-color: #D9D0C3; 
	padding: 2px;
}
#friend-list-member {
	float: left;
	margin: 0;
	padding: 0;
	width: 80%;
}
#friend-list-list {
	padding: 4px;
	min-width: 135px;
	margin-left: 81%;
}
#friend-list-addfriend-form {
}
